In [14]:
import pandas as pd

In [15]:
df=pd.read_csv(r"https://raw.githubusercontent.com/singhrau0/Big-Data-Preprocessing/main/youtubesample.csv")

In [13]:
df

,video_id,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,Genre
0,m8Dqg8iz5Fo,18.09.05,MY INSTAGRAM FOLLOWERS PICK MY FULL FACE OF MA...,Sylvia Gani,26,2018-04-30T00:18:19.000Z,834848,35939,578,4121,False,False,False,Howto & Style
1,2yCp-Dj5-7c,17.16.12,Does Tiffany Haddish Think NeNe Leakes Is Funn...,Watch What Happens Live with Andy Cohen,24,2017-12-11T04:29:53.000Z,214016,1191,128,125,False,False,False,Entertainment
2,H00djJq68VE,17.27.12,Panettone (Italian Christmas Bread) - Food Wishes,Food Wishes,26,2017-12-23T00:07:02.000Z,283364,8274,332,1016,False,False,False,Howto & Style
3,oTObwUiXdYY,17.19.11,7.3 Magnitude Earthquake Along Iraq-Iran Borde...,TIME,25,2017-11-13T15:44:35.000Z,33761,149,45,222,False,False,False,News & Politics
4,yvicqMrAHvQ,18.05.02,Turkish Airlines - 5 Senses with Dr. Oz,Turkish Airlines,19,2018-02-04T23:55:21.000Z,936185,606,74,67,False,False,False,Travel & Events
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,bqFjyo7I8fY,18.01.03,Red Velvet Î†àÎìúÎ≤®Î≤≥ 'Î¥ê (Look)' Dance Practice,SMTOWN,10,2018-02-22T03:00:00.000Z,2696501,159805,1976,12116,False,False,False,Music
4996,K0u_kAWLJOA,18.25.01,God of War ‚Äì Story Trailer | PS4,PlayStation,20,2018-01-23T16:00:02.000Z,1727422,83372,1107,10657,False,False,False,Gaming
4997,XGd1dq1BatM,18.19.03,"Halsey - Alone (Audio) ft. Big Sean, Stefflon Don",HalseyVEVO,10,2018-03-15T22:00:01.000Z,1176625,66964,1133,3076,False,False,False,Music
4998,vGTTSdrV37U,18.04.04,Camila Cabello WINS Favorite Breakout Artist üé§...,Nickelodeon,24,2018-03-25T01:22:15.000Z,724593,13113,807,1909,False,False,False,Entertainment
4999,DkeiKbqa02g,18.22.05,"Calvin Harris, Dua Lipa - One Kiss (Official V...",CalvinHarrisVEVO,10,2018-05-02T23:01:00.000Z,62800938,781317,34495,24760,False,False,False,Music

In [8]:
df.isnull().sum()

video_id                   0
trending_date              0
title                      0
channel_title              0
category_id                0
publish_time               0
tags                       0
views                      0
likes                      0
dislikes                   0
comment_count              0
thumbnail_link             0
comments_disabled          0
ratings_disabled           0
video_error_or_removed     0
description               55
Genre                      0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                5000 non-null   object
 1   trending_date           5000 non-null   object
 2   title                   5000 non-null   object
 3   channel_title           5000 non-null   object
 4   category_id             5000 non-null   int64
 5   publish_time            5000 non-null   object
 6   views                   5000 non-null   int64
 7   likes                   5000 non-null   int64
 8   dislikes                5000 non-null   int64
 9   comment_count           5000 non-null   int64
 10  comments_disabled       5000 non-null   bool
 11  ratings_disabled        5000 non-null   bool
 12  video_error_or_removed  5000 non-null   bool
 13  Genre                   5000 non-null   object
dtypes: bool(3), int64(5), object(6)
memory usage: 444.5+ KB

In [11]:
df.nunique()

video_id                  3228
trending_date              205
title                     3239
channel_title             1409
category_id                 16
publish_time              3206
views                     4991
likes                     4730
dislikes                  2559
comment_count             3534
comments_disabled            2
ratings_disabled             2
video_error_or_removed       2
Genre                       16
dtype: int64

In [9]:
df.drop(['description','tags','thumbnail_link'],axis=1,inplace=True)

In [12]:
df.describe()

       category_id         views         likes       dislikes  comment_count
count   5000.00000  5.000000e+03  5.000000e+03    5000.000000   5.000000e+03
mean      19.94620  2.407597e+06  8.074875e+04    3459.565800   9.169436e+03
std        7.52605  7.221182e+06  2.609361e+05   15092.820014   4.136390e+04
min        1.00000  7.130000e+02  0.000000e+00       0.000000   0.000000e+00
25%       17.00000  2.470338e+05  5.527000e+03     201.000000   6.100000e+02
50%       24.00000  6.854875e+05  1.795550e+04     637.000000   1.844500e+03
75%       25.00000  1.885173e+06  5.651375e+04    2046.000000   5.727250e+03
max       43.00000  1.844465e+08  5.530568e+06  487820.000000   1.213172e+06

In [16]:
import datetime as dt

In [21]:
df['publish_time']=pd.to_datetime(df['publish_time'],utc=True)

In [23]:
df['trending_date']=pd.to_datetime(df['trending_date'],format="%y.%d.%m")

In [25]:
df['Pyear']=df['publish_time'].dt.year

In [26]:
df['Pmonth']=df['publish_time'].dt.month

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                5000 non-null   object
 1   trending_date           5000 non-null   datetime64[ns]
 2   title                   5000 non-null   object
 3   channel_title           5000 non-null   object
 4   category_id             5000 non-null   int64
 5   publish_time            5000 non-null   datetime64[ns, UTC]
 6   tags                    5000 non-null   object
 7   views                   5000 non-null   int64
 8   likes                   5000 non-null   int64
 9   dislikes                5000 non-null   int64
 10  comment_count           5000 non-null   int64
 11  thumbnail_link          5000 non-null   object
 12  comments_disabled       5000 non-null   bool
 13  ratings_disabled        5000 non-null   bool
 14  video_error_or_removed  5000 non-null   bool
 15  description             4945 non-null   object
 16  Genre                   5000 non-null   object
 17  Pyear                   5000 non-null   int32
 18  Pmonth                  5000 non-null   int32
dtypes: bool(3), datetime64[ns, UTC](1), datetime64[ns](1), int32(2), int64(5), object(7)
memory usage: 600.7+ KB

In [32]:
df[df["Genre"]=="Music"]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,Genre,Pyear,Pmonth
5,qDAxDcjgn-8,2017-11-18,Taylor Swift - Reputation ALBUM REVIEW,theneedledrop,10,2017-11-14 23:06:27+00:00,"album|""review""|""music""|""reviews""|""indie""|""unde...",274155,10765,750,2560,https://i.ytimg.com/vi/qDAxDcjgn-8/default.jpg,False,False,False,Listen: https://www.youtube.com/watch?v=3tmd-C...,Music,2017,11
6,kton-qrKNLc,2018-03-08,Meghan Trainor - No Excuses,MeghanTrainorVEVO,10,2018-03-01 13:00:05+00:00,"meghan trainor|""no excuses""|""no excuses offici...",8368595,261615,21536,19114,https://i.ytimg.com/vi/kton-qrKNLc/default.jpg,False,False,False,No Excuses available at Spotify: http://smartu...,Music,2018,3
7,oRArmtMA9AI,2018-03-15,Marshmello - FLY (Official Music Video),Marshmello,10,2018-03-09 05:01:14+00:00,"marshmello|""marshmello fly""|""fly""|""fly marshme...",7619961,298787,8484,35970,https://i.ytimg.com/vi/oRArmtMA9AI/default.jpg,False,False,False,Marshmello - Fly (ft. Leah Culver) http://smar...,Music,2018,3
10,RQm0nKoODo4,2018-03-13,Take On Me in 20 Styles ft. Seth Everman,Ten Second Songs,10,2018-03-05 17:00:40+00:00,"katy perry|""juicy j""|""nirvana""|""queen""|""metall...",855201,65834,569,5397,https://i.ytimg.com/vi/RQm0nKoODo4/default.jpg,False,False,False,Watch the Allstar video I did with Seth ‚ñ∫ http...,Music,2018,3
22,TyHvyGVs42U,2017-11-23,"Luis Fonsi, Demi Lovato - √âchame La Culpa",LuisFonsiVEVO,10,2017-11-17 05:00:01+00:00,"Luis|""Fonsi""|""Demi""|""Lovato""|""√âchame""|""La""|""Cu...",68997838,2048049,96281,115819,https://i.ytimg.com/vi/TyHvyGVs42U/default.jpg,False,False,False,‚Äú√âchame La Culpa‚Äù disponible ya en todas las p...,Music,2017,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4982,HTi1c_tLnqw,2017-12-17,Nick Jonas - Home,NickJonasVEVO,10,2017-12-13 15:00:01+00:00,"Nick Jonas|""Home""|""Ferdinand""|""Nick""|""Jonas""|""...",664958,42302,532,1389,https://i.ytimg.com/vi/HTi1c_tLnqw/default.jpg,False,False,False,Directed by Nicholas Lam\nProduced by Anthem F...,Music,2017,12
4990,Bju5Enu--80,2017-12-07,Why aren't you likable?,Tessa Violet,10,2017-12-01 19:38:52+00:00,"tessa violet|""vlogger""|""video blogger""|""youtub...",154250,15228,79,818,https://i.ytimg.com/vi/Bju5Enu--80/default.jpg,False,False,False,TOUR TOUR TOUR\ntickets: bit.ly/2nfhzBd\ndodie...,Music,2017,12
4995,bqFjyo7I8fY,2018-03-01,Red Velvet Î†àÎìúÎ≤®Î≤≥ 'Î¥ê (Look)' Dance Practice,SMTOWN,10,2018-02-22 03:00:00+00:00,"Red Velvet|""Î†àÎìúÎ≤®Î≤≥""|""Bad Boy""|""The Perfect Red V...",2696501,159805,1976,12116,https://i.ytimg.com/vi/bqFjyo7I8fY/default.jpg,False,False,False,"Listen and download on iTunes & Apple Music, S...",Music,2018,2
4997,XGd1dq1BatM,2018-03-19,"Halsey - Alone (Audio) ft. Big Sean, Stefflon Don",HalseyVEVO,10,2018-03-15 22:00:01+00:00,"Halsey|""Alone""|""Big Sean""|""Stefflon Don""|""remi...",1176625,66964,1133,3076,https://i.ytimg.com/vi/XGd1dq1BatM/default.jpg,False,False,False,Alone available now: http://www.iamhalsey.com/...,Music,2018,3
4999,DkeiKbqa02g,2018-05-22,"Calvin Harris, Dua Lipa - One Kiss (Official V...",CalvinHarrisVEVO,10,2018-05-02 23:01:00+00:00,"calvin harris|""calvin harris one kiss""|""calvin...",62800938,781317,34495,24760,https://i.ytimg.com/vi/DkeiKbqa02g/default.jpg,False,False,False,Calvin Harris & Dua Lipa ‚Äì One Kiss (Official ...,Music,2018,5

In [42]:
df['video_id'].nunique()

3228

In [57]:
x=df[['views','dislikes','comment_count','category_id']]

In [59]:
x.corr()

                  views  dislikes  comment_count  category_id
views          1.000000  0.641098       0.645085    -0.170819
dislikes       0.641098  1.000000       0.631353    -0.077782
comment_count  0.645085  0.631353       1.000000    -0.099711
category_id   -0.170819 -0.077782      -0.099711     1.000000

In [60]:
y=df['likes']

In [67]:
y

0        35939
1         1191
2         8274
3          149
4          606
         ...
4995    159805
4996     83372
4997     66964
4998     13113
4999    781317
Name: likes, Length: 5000, dtype: int64

In [68]:
#splittind the data into two part training and testing data
from sklearn.model_selection import train_test_split

In [76]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2529)

In [79]:
x_train

        views  dislikes  comment_count  category_id
4758   339352       228           2283           28
3387  8898755     31642              0           28
2146   331267       262           2910           24
622    134863        29            287           24
4274  1062120       620            961           24
...       ...       ...            ...          ...
4590   578506      3616           2622           24
4476   738740      1575           1530           23
3656   342075       128            375           10
4836   298714       214            534           27
2876  5505292      5189           3266           26

[4000 rows x 4 columns]

In [80]:
x_test

        views  dislikes  comment_count  category_id
364    277410       133           1458           23
3448   170622        88            590           28
564    289826       788           2365           25
3664   519649      1529           1098           17
4844  3509600      2285           9951           22
...       ...       ...            ...          ...
1310   430640       315          15456           24
2364  3969182     18662          66232           10
251    560384       187           7509           23
4504   491800       297           9368           23
509    105670       184            396           28

[1000 rows x 4 columns]

In [82]:
from sklearn.linear_model import LinearRegression

In [83]:
lr=LinearRegression()

In [84]:
lr.fit(x_train,y_train)

LinearRegression()

In [89]:
lr.predict([[40000,50,200,1]])

C:\Users\admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([39553.7618589])